@import "../../sassStyles/mixins";

.hero-container {
  @include flexDireCol;
  gap: 5em;

  .totalcases-wrapper {
    @include flexBox;
  }

  .hero-section {
    height: auto;
    width: 50%;
  }

  .hero-section-left {
    display: grid;
    justify-items: center;
    align-content: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 5em;
    :nth-child(3) {
      grid-column: 1 / span 2;
      margin: 0 auto;
    }
    // align-self: flex-start;
    padding: 2em 1em;

    .global-data {
      @include flexDireCol;
      p {
        font-size: 2em;
      }
      span {
        font-size: 3.5em;
      }
    }
    .total-cases {
      span {
        color: rgba($matte-white, 0.7);
      }
    }
    .total-deaths {
      span {
        color: rgba($button, 0.7);
      }
    }
    .total-recovered {
      span {
        color: rgba($matte-green, 0.7);
      }
    }
  }

  .hero-section-right {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -2;
    ::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100vw;
      height: 100vh;
      background: rgba(0, 0, 0, 0.8);
    }

    .heroBg {
      position: relative;
      img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100vw;
        height: 100vh;
        -o-object-fit: cover;
        object-fit: cover;
      }
    }
  }
}
