@import "../../sassStyles/mixins";

.header-container {
  .nav {
    @include flexBox;
    padding: 1.4em;
    justify-content: space-between;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);

    .web-title {
      @include flexBox;
      span {
        font-size: 2em;
        color: $button;
        @include flexBox;
        margin: 0 0.2em;
      }
    }

    .last-updated {
      p {
        font-size: 1.2em;
      }
    }

    .list-wrapper {
      ul {
        @include flexBox;

        li {
          list-style: none;
          margin: 0 1em;

          .nav-link {
            @include button;
            text-decoration: none;
            font-weight: 500;
            color: #efefef;
          }
        }
      }
    }
  }
}
