@import "../../sassStyles/variables";
@import "../../sassStyles/mixins";

.bubble-container {
  background-color: $matte-white;
  color: rgba(25, 25, 25, 1);
  border-radius: 50%;
  min-width: 10em;
  min-height: 10em;
  @include flexBox;
  flex-direction: column;
  gap: 1em;

  .today-cases:nth-child(1) {
    font-size: 1.2em;
    font-weight: 500;
  }

  .today-cases:nth-child(2) {
    font-size: 1.5em;
    font-weight: 600;
    color: rgba(25, 25, 25, 0.8);
  }
}
